<!DOCTYPE html>

<html>
    <h1>About the web</h1>

<head>
    <title>About</title>
    {{!-- Creating an icon for the page  --}}
    <link rel="icon" href="/img/id_icon.jpg">
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
    <script src="./js/app.js"></script>
</head>


<body>
    <div class="main-content">
        <h1>{{>header}}</h1>
        <p>{{name}}</p>
        <button>Click me to find out more </button>
        <img class="portrait" src="/img/id.png">
    </div>
    
    

    {{>footer}}

</body>


</html>
