<!DOCTYPE html>

<html>
    <h1>This is gonna be the help page for the program</h1>

<head>
    <title>Help</title>
    {{!-- Creating an icon for the page  --}}
    <link rel="icon" href="/img/id_icon.jpg">
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
</head>


<body>
    
    <div class="main-content">
        <p>{{name}}</p>
        <p>You need to get help from us anything you care confused because i know you're always gonna be confused and this isnt and insult</p>
        <h1>{{>header}}</h1>
    </div>
    
    {{>footer}}
</body>


</html>

