<!DOCTYPE html>

<html>
    
<head>
    <title>404 Error</title>
    {{!-- Creating an icon for the page  --}}
    <link rel="icon" href="/img/id_icon.jpg">
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        <p>{{error}}</p>
    </div>

    {{>footer}}
</body>


</html>

